.header {
	height: fit-content;
}

.title {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;  
	align-items: center;
	justify-content: left;
}

.expansion-panel {
	border-radius: inherit !important;
}

:host:first-of-type {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

:host:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}