:host {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
}

@media only screen and (max-width: 1080px) {
	:host {
		grid-template-columns: repeat(1, 1fr);
	}
}

:host > * {
	display: block;
}