<app-full-page-header color="primary" bgImage="assets/images/gui.png" gradient="var(--background-color) 20%, #009A8E2F, #00000000">
  <h1 class="mat-display-4 app-home-page header">Godot unit testing <br> for <b>GDScript</b> and <b>C#</b></h1>
</app-full-page-header>
<app-section title="About" color="blank">
  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
</app-section>
<app-section color="foreground-accent-200">
  <app-column-layout>
    <div>
      <h1 class="mat-display-2 mb-16">Let's meet up!</h1>
      <p class="mb-0">
         Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
    </div>
    <div>
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    </div>
  </app-column-layout>
</app-section>
<app-section title="FAQ" color="primary" textColor="white" last>
  <mat-accordion>
    <app-question-panel title="Where can I download it?">
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum ipsum Lorem ipsum Lorem ipsum ipsum Lorem ipsum Lorem ipsum ipsum Lorem ipsum Lorem ipsum </p>
    </app-question-panel>
    <app-question-panel title="Where can I download it?">
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    </app-question-panel>
    <app-question-panel title="Where can I download it?">
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    </app-question-panel>
  </mat-accordion>
  <div style="margin-top: 3em;"></div>
</app-section>