:host {
	flex: 1 1 auto;
}

.bg {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: var(--content-padding);
	z-index: 1;
}

.content {
	height: 100%;
	display: block;
	margin: auto;
	width: 100%;
	max-width: var(--content-width);
}

.full-page {
	min-height: 100vh;
}