:host {
	height: var(--site-header-height);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
	flex: 0 1 auto;
}

.container {
	width: 100%;
	height: 100%;
	transition: 0.3s;
}

.detached {
	transition: 0.3s;
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,127);
}