<div class="app-horizontal-menu bg">
  <div class="app-horizontal-menu content">
    <div style="
      position: absolute;
      left: 1em; 
      display: flex;
      flex-direction: row;
      gap: 1.25em;
      justify-content: center;">
    </div>
    <app-logo-text-button></app-logo-text-button>
    <app-text-button *ngFor="let pageLink of pageLinks" [link]="pageLink.link" route>{{pageLink.name}}</app-text-button>
    <div style="
      position: absolute;
      right: 0; 
      display: flex;
      flex-direction: row;
      gap: 1.25em;
      justify-content: center;">
      <app-dark-mode-toggle></app-dark-mode-toggle>
      </div>
    <ng-content></ng-content>
  </div>
</div>