@use 'sass:map';
@use '@angular/material' as mat;
@use '../modules-theme' as modules;
@use '../general-css-theme' as general-css;
@import '../shared-palettes';

$site-theme: create-complete-theme((
	color: (
		primary: $site-deep-blue, 
		accent: $site-lime, 
		foreground-accent: $site-grey,
		foreground-accent-dark: $site-grey,
		warn: mat.define-palette(mat.$red-palette),
		misc: $misc,
		is-dark: false, 
		foreground: $light-theme-foreground-palette, 
		background: $light-theme-background-palette,
	),
	typography: $site-typography,
));

@include modules.theme($site-theme);
@include general-css.theme($site-theme);
@include mat.all-component-themes($site-theme);