$font-scale: 0.9;

:root {
	--site-header-height: 4em;
	--content-padding: 4em;
	--dog-ear: 4em;
	--dog-ear-padding: 4em;
	--content-width: min(80%, 1480px);
	--main-width: var(--content-width);
	--markdown-content-width: 1480px;
	font-size: 100% * $font-scale;
}

$small-desktop-width: 1280px;
$mobile-width: 1180px;
$medium-mobile-width: 700px;
$tiny-mobile-width: 400px;

@media screen and (max-width: $small-desktop-width) {
	:root {
		font-size: 90% * $font-scale
	}
}

/* Mobile values */
@media screen and (max-width: $mobile-width) {
	:root {
		font-size: 100% * $font-scale;
		--content-width: 100%;
		--markdown-content-width: 100%;
		--content-padding: 3em;
		--dog-ear-padding: 2.625em;
		--dog-ear: 2em;
	}
}

@media screen and (max-width: $medium-mobile-width) {
	:root {
		font-size: 90% * $font-scale;
	}
}

/* Tiny mobile values */
@media screen and (max-width: $tiny-mobile-width) {
	:root { 
		--content-padding: 2em;
		font-size: 80% * $font-scale;
	}
}