:host {
	flex: 0 1 auto;
	position: relative;
}

.bg {
  align-items: center;
	width: 100%;
	height: fit-content;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,127);
}

.content {
	display: flex;  
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	height: 100%;
	width: 80%;
}