<div class="app-site-footer bg">
  <div class="app-site-footer content">
    <div style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1em;
      flex-wrap: wrap;
      margin-bottom: 1em;
    ">
      <a mat-button color="accent" style="padding: 0.5em 2em;" [href]="settings.General.githubLink" target="_blank">
        <ic-icon icon="github" size="1.5em"></ic-icon>
        GitHub
      </a>
      <a mat-button style="padding: 0.5em 2em;" [href]="settings.General.kofiLink" target="_blank" class="color-kofi">
        <ic-icon icon="kofi" size="1.5em"></ic-icon>
        Support WAT on Ko-fi
      </a>
    </div>
    <div class="mt-16">Made using Angular and hosted on Github Pages. Check out <a href="https://github.com/AlexDarigan/WAT" target="_blank">our repo here</a></div>
  </div>
</div>