# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.scripts.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Alex\Projects\WAT\addons\WAT\ui\scripts\.idea\.idea.scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
